html,body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
}

.header-container {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    background-color: #1b1b1b;
    color: #fff;
    /* background-color: #1592CA; */
}

.header-title {
    margin-left: 0.67em;
}

.music-select-container {
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 700;
}

#music-select {
    height: 2.5em;
    font-family: Helvetica, Arial, Sans-Serif;
    background-color: #3b3c36;
    color: #fff;
    font-size: 1em;
}

/* Partly taken from stock 'view on GitHub' banner */
#forkme_banner {
    pointer-events: all;
    display: block;
    padding: 10px 50px 10px 10px;
    color: #fff;
    background: url('../images/blacktocat.png') #1592CA no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-right: 1em;
}

.music-select-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
    /* height: 100%; */
}

.viz-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sim-matrix-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    /* flex: 1 1 50% */
    width: 50%;
    background-color: #F3F3F3;
}

.sim-matrix {
    border: 1px solid black;
}

.track-btn {
    border: 1px solid black;
    border-radius: 2px;
    background-color: #fff;
    padding: 0;
    font-size: 0;
}

.sim-h-tracks .track-btn span:hover {
    filter: invert(75%) sepia(57%) saturate(274%) hue-rotate(148deg) brightness(83%) contrast(88%);
}

.sim-v-tracks .track-btn span:hover {
    filter: invert(67%) sepia(90%) saturate(3184%) hue-rotate(359deg) brightness(100%) contrast(105%);
}

.sim-h-tracks .track-btn:disabled {
    background-color: #5b7c7d;
}

.sim-v-tracks .track-btn:disabled {
    background-color: #fe5e31;
}

.sim-h-tracks .track-btn:disabled span,.sim-v-tracks .track-btn:disabled span {
    filter: invert(100%);
    cursor: default;
}

.track-btn span {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    padding: 5px;
}

.sim-h-track-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.sim-h-tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sim-h-track-selected {
    margin-top: 10px;
    color: #5b7c7d;
}

.sim-v-track-matrix-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.sim-v-track-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.sim-v-tracks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sim-v-track-selected {
    transform: rotate(180deg);
    transform-origin: center;
    writing-mode: vertical-rl;
    margin-left: 10px;
    color: #fe5e31;
}

.sim-track-selected {
    font-weight: bold;
}

.music-container {
    flex: 1 1 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: 100%; */
    height: 100%;
}

.music-sheet {
    overflow-y: auto;
}

.music-track-bbox {
    position: absolute;
    z-index: -2;
}

.hidden {
    display: none;
}

.music-track1-bbox {
    background-color: #72b8c9;
}

.music-track2-bbox {
    background-color: #fe9001;
}